https://github.com/CreateCafe3D/YXE-firmware-flash/releases/download/0.0.1.65/PeachyPrinterFirmwareAPI-0.0.1.65.tar.gz
https://github.com/CreateCafe3D/YXEtools/releases/download/1.1.1.997/PeachyPrinterToolsAPI-1.1.1.997.tar.gz
